.anular-facturas-container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #ddb0ba, #200e0b);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  }
  
  .anular-facturas-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    width: 400px;
  }
  
  .anular-facturas-title {
    font-size: 2rem;
    color: #FFD700;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 15px;
  }
  
  .anular-facturas-description {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
  }
  
  .btn {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
    transition: 0.3s;
  }
  
  .delete-btn {
    background: #3f1d19;
    color: white;
  }
  
  .delete-btn:hover {
    background: #795c59;
  }
  
  .back-btn {
    background: #3498db;
    color: white;
  }
  
  .back-btn:hover {
    background: #2980b9;
  }
  