.btn {
  background-color: #1d4ed8; /* Azul */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #2563eb; /* Azul más claro al pasar el mouse */
}

.back-btn {
  background-color: #6b7280; /* Gris */
}

.back-btn:hover {
  background-color: #4b5563;
}
