/* Hace que la página ocupe toda la pantalla */
.repuestos-page {
    width: 100%;
    height: 100%; /* 100% del alto de la pantalla */
    background: linear-gradient(to right, #1E3A5F, #A8B5C3); /* Azul oscuro → Gris azulado */
    color: white;
    padding-bottom: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Título del módulo */
  .title {
    font-size: 2.5rem;
    color: #FFD700; /* Dorado */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
  }
  
  /* Descripción */
  .repuestos-page p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  /* Estilos para los botones */
  .module-button {
    background-color: #1E90FF; /* Azul brillante */
    border: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
    transition: background 0.3s ease-in-out, transform 0.2s;
  }
  
  .module-button:hover, .back-button:hover {
    background-color: #0073E6;
    transform: scale(1.05); /* Efecto de agrandado */
  }
  
  /* Botón de regresar con color diferente */
  .back-button {
    background-color: #FF4500; /* Rojo/Naranja */
  }
  
  .back-button:hover {
    background-color: #E63E00;
  }

.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}